body{
    background-color: #EECFF1 ;
    font-family: Arial;
}
*{/* menu*/
    margin: 0;
    padding: 0; /*Espacio entre el contenido del elemento y su borde*/ 
    -webkit-box-sizing: border-box; /*Calcular las medidas de un elemento */ 
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.navegacion{
    width: 1000px;
    margin: 30px auto;
    background: #fff;
}
.navegacion ul{
    list-style: none; /*Quita las viñetas de lista*/
}
.menu > li{
    position: relative; /*la etiqueta position especifica cómo un elemento es posicionado en el documento */     
    display: inline-block; /*lista horisontal menu*/
}
.menu >li > a{
    display: block; /*Establece los tipos de visualización interna y externa de un elemento*/ 
    padding: 15px 20px; /*Tamaño del menu del menú*/
    color: #353535;
    font-family: 'Open sans';
    text-decoration: none; /* No se pinga ningun subrrayado ni biñetas*/
}
.menu li a:hover{ /*Darle color a las letras del menú*/
    color: #CE7035;
    transition: all .3s; /*Darle transición al color de las letras del menú*/
}
/*submenu*/
.submenu{
    position: absolute;/*la etiqueta position especifica cómo un elemento es posicionado en el documento */ 
    background: #333333;
    width: 1204;
    visibility: hidden; /*Visualizar el efecto de selección, hidden esconde el elemento pero deja vacio el espacio*/ 
    opacity: 0; /*transparencia del elemento*/
    transition: opacity 1.5s;
}
.submenu li a{
    display: block; /*Espacio entre palabras*/
    padding: 15px; /*Espacio entre palabras*/ 
    color: #fff; /*Color de la letra*/
    font-family: 'Open sans'; /*tipo de letra*/ 
    text-decoration: none;
}
.menu li:hover .submenu{/*Ocultar el submenu*/
    visibility: visible; /*Al pasar el cursor al menu se visualiza el submenu*/ 
    opacity: 1;
}
.subm{
    position: absolute;/*la etiqueta position especifica cómo un elemento es posicionado en el documento */
    background: #333333;
    width: 120%;
    visibility: hidden; /*Visualizar el efecto de selección, hidden esconde el elemento pero deja vacio el espacio*/ 
    opacity: 0; /*transparencia del elemento*/
    transition: opacity 1.5s;
}
.subm li a{
    display: block;
    padding: 15px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li:hover .subm{ /*Ocultar el submenu*/
    visibility: visible; /*Al pasar el cursor al menu se visualiza el submenu*/
    opacity: 1;
}